[alias]
    s = status
    b = branch
	g = log --graph --decorate --oneline
    co = checkout
    cb = checkout -b
[user]
	email = bartlomiej.lisiecki@pragmaticcoders.com
	name = Bartlomiej Lisiecki
[core]
	editor = vim
