[alias]
    s = status
    b = branch
        g = log --graph --decorate --oneline
    co = checkout
    cb = checkout -b
[user]
        email = b.m.lisiecki@gmail.com
        name = Bartlomiej Lisiecki
	signingkey = 2FA91D5F5DD2CDA8
[core]
        editor = vim
        excludesfile = /home/deadpixel/.gitignore_global
[merge]
    tool = meld
[commit]
	gpgsign = true
