[user]
{{- with onepasswordItemFields "Default" }}
  name = {{ index . "first name" "value" }} {{ index . "last name" "value" }}
  email = {{ index . "email" "value" }}
{{- end }}
  signingkey = {{ onepasswordRead "op://Private/gh-ssh-key/public key" }}
[core]
  editor = vim
[commit]
	gpgsign = true
[gpg]
  format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}
